@import url("./frog.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.background-animate {
  background-size: 400%;

  -webkit-animation: background-gradient 7s ease infinite;
  -moz-animation: background-gradient 7s ease infinite;
  animation: background-gradient 7s ease infinite;
}

@keyframes background-gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
